* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
}

nav {
   display: flex;
   align-items: center;
   gap: 2rem;

   padding: 2.5rem 4.5rem;
}

nav a {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 1.3rem;
   color: #C4C4CC;

   text-decoration: none;
}

#app {
   height: calc(100vh - 7.625rem);
}

#app .home-wrapper {
   height: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
}

#app h1 {
   color:#E1E1E6;
   font-size: 3rem;
   font-weight: 700;
   line-height: 3.75rem;
}

.home-wrapper button {
   border-radius: 5px;
   border: 2px solid #FFF;
   background: transparent;
   padding: 12px 32px;

   color: #FFF;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.5rem;
   text-transform: uppercase;
}

.home-wrapper button:hover {
   color: #02799D;
   background: #FFF;
   cursor: pointer;
   transition: all .5s;
}

.exploration-wrapper,
.universe-wrapper {
   padding-top: 4rem;

   display: flex;
   flex-direction: column;
   gap: 1rem;
}

h1, p {
   padding-left: 4.5rem;
}

p {
   width: 40.5rem;

   color:#E1E1E6;
   font-size: 18px;
   line-height: 1.75rem;
}

.img-wrapper {
   position: absolute;
   z-index: -1;
   top: 0px;

   width: 100vw;
   height: 100vh;

   overflow: hidden;
}

.img-wrapper img {
   width: 100%;
}