* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
}

nav {
   display: flex;
   align-items: center;
   gap: 2rem;

   padding: 2.5rem 4.5rem;
}

nav a {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 1.3rem;
   color: #C4C4CC;

   text-decoration: none;
}

.img-wrapper {
   position: absolute;
   z-index: -1;
   top: 0px;

   width: 100vw;
   height: 100vh;

   overflow: hidden;
}

.img-wrapper img {
   width: 100%;
}